.form__input {
    display: block;
    padding: 0.75rem;
    background: #e1e1e1;
    outline: none;
    transition: background 0.2s, border_color 0.2s;
    border: 1px solid #808080;
}

.form__input:focus {
    background: #ffffff;
}